[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
slackclient = "*"
func-timeout = "*"
django = "*"

[scripts]
build = 'python setup.py sdist'
release = 'python -m twine upload dist/*'

[requires]
python_version = "3.7"
